.Toolbar{
    height: 56px;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    background-color: saddlebrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav{
    height: 100%;
}

.Logo{
    height: 80%;
}

/* Logo class added so that for desktop we can display logo using 80% size and in mobile using different size that size 
specified in SideBar.css */