.SideDrawer{
    position: fixed;
    width: 280px; 
    max-width: 70%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 200;
    background-color: whitesmoke;
    padding:32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media(min-width:500px){
    .SideDrawer{
        display: none;
    }
}

.Open{
    transform: translate(0);
}

.Close{
    transform: translate(-100%);
}

.Logo{
    height: 11%;
}
/* SideDrawer is used for small mobile devices to visible menu in mobile devices */

/* Logo class added so that for mobile we can display logo using 11% size and in desktop using different size that size 
specified in Toolbar.css */