.ContactData{
    width: 80%;
    margin:20px auto;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 2px 3px rgb(79, 76, 201);
    border:1px solid rgb(79, 76, 201);
    background-color: rgb(181, 197, 250);
}
.Input{
    display: block;
    align-items: center;
}
@media(min-width:600px){
    .ContactData{
        width: 500px;
    }
}