.Input{
    width:100%;
    padding:10px;
    box-sizing: border-box;    
}

.Label{
    font-weight: bold;
    display: block;
    margin-bottom:8px;
}

.InputElement{
    width: 95%;
    display: block;
    border:2px solid lightskyblue;
    background-color: lightyellow;
    font:inherit; 
    padding: 6px 10px;
}

.InputElement:focus{
    background-color: lightblue;
}