.Person
{
    width: 60%;
    margin: 20px auto;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 8px;
    text-align: center;

}
/* @media(min-width:500px){
    .Person{
        width: 450px;
    }
} */

/* Above media functionality we are going to use in inline css using Radium package in file person.js. 
@media will keep fix width of 500 px of screen even if you change your screen size*/